<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>f</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>79</integer>
			<integer>105</integer>
			<integer>12</integer>
			<integer>12</integer>
		</array>
		<key>scr_cover</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>scr_pos</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</dict>
	<key>p</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>1</integer>
			<integer>118</integer>
			<integer>12</integer>
			<integer>12</integer>
		</array>
		<key>scr_cover</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>scr_pos</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</dict>
	<key>s</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>40</integer>
			<integer>118</integer>
			<integer>12</integer>
			<integer>12</integer>
		</array>
		<key>scr_cover</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>scr_pos</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</dict>
	<key>:</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>131</integer>
			<integer>92</integer>
			<integer>12</integer>
			<integer>12</integer>
		</array>
		<key>scr_cover</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>scr_pos</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</dict>
	<key>0</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>1</integer>
			<integer>92</integer>
			<integer>12</integer>
			<integer>12</integer>
		</array>
		<key>scr_cover</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>scr_pos</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</dict>
	<key>1</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>14</integer>
			<integer>92</integer>
			<integer>12</integer>
			<integer>12</integer>
		</array>
		<key>scr_cover</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>scr_pos</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</dict>
	<key>2</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>27</integer>
			<integer>92</integer>
			<integer>12</integer>
			<integer>12</integer>
		</array>
		<key>scr_cover</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>scr_pos</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</dict>
	<key>3</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>40</integer>
			<integer>92</integer>
			<integer>12</integer>
			<integer>12</integer>
		</array>
		<key>scr_cover</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>scr_pos</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</dict>
	<key>4</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>53</integer>
			<integer>92</integer>
			<integer>12</integer>
			<integer>12</integer>
		</array>
		<key>scr_cover</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>scr_pos</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</dict>
	<key>5</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>66</integer>
			<integer>92</integer>
			<integer>12</integer>
			<integer>12</integer>
		</array>
		<key>scr_cover</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>scr_pos</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</dict>
	<key>6</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>79</integer>
			<integer>92</integer>
			<integer>12</integer>
			<integer>12</integer>
		</array>
		<key>scr_cover</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>scr_pos</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</dict>
	<key>7</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>92</integer>
			<integer>92</integer>
			<integer>12</integer>
			<integer>12</integer>
		</array>
		<key>scr_cover</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>scr_pos</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</dict>
	<key>8</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>105</integer>
			<integer>92</integer>
			<integer>12</integer>
			<integer>12</integer>
		</array>
		<key>scr_cover</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>scr_pos</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</dict>
	<key>9</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>118</integer>
			<integer>92</integer>
			<integer>12</integer>
			<integer>12</integer>
		</array>
		<key>scr_cover</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>scr_pos</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</dict>
	<key>h</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>105</integer>
			<integer>105</integer>
			<integer>12</integer>
			<integer>12</integer>
		</array>
		<key>scr_cover</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>scr_pos</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</dict>
	<key>e</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>66</integer>
			<integer>105</integer>
			<integer>12</integer>
			<integer>12</integer>
		</array>
		<key>scr_cover</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>scr_pos</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</dict>
	<key>a</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>14</integer>
			<integer>105</integer>
			<integer>12</integer>
			<integer>12</integer>
		</array>
		<key>scr_cover</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>scr_pos</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</dict>
	<key>l</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>157</integer>
			<integer>105</integer>
			<integer>12</integer>
			<integer>12</integer>
		</array>
		<key>scr_cover</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>scr_pos</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</dict>
	<key>t</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>53</integer>
			<integer>118</integer>
			<integer>12</integer>
			<integer>12</integer>
		</array>
		<key>scr_cover</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>scr_pos</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</dict>
	<key>%</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>66</integer>
			<integer>79</integer>
			<integer>12</integer>
			<integer>12</integer>
		</array>
		<key>scr_cover</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>scr_pos</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</dict>
</dict>
</plist>
