<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>city_gen</key>
	<dict>
		<key>filename</key>
		<string>city_stuff.png</string>
		<key>beam_def</key>
		<dict>
			<key>png_get</key>
			<array>
				<integer>2</integer>
				<integer>42</integer>
				<integer>20</integer>
				<integer>20</integer>
			</array>
			<key>beam_center</key>
			<array>
				<integer>10</integer>
				<integer>10</integer>
			</array>
		</dict>
		<key>stand_def</key>
		<dict>
			<key>png_get</key>
			<array>
				<integer>2</integer>
				<integer>0</integer>
				<integer>20</integer>
				<integer>40</integer>
			</array>
			<key>module_center_place</key>
			<array>
				<integer>10</integer>
				<integer>40</integer>
			</array>
		</dict>
	</dict>
	<key>city_types</key>
	<dict>
		<key>city</key>
		<dict>
			<key>city_texture</key>
			<dict>
				<key>filename</key>
				<string>city_01.png</string>
				<key>png_get</key>
				<array>
					<integer>10</integer>
					<integer>122</integer>
					<integer>470</integer>
					<integer>380</integer>
				</array>
				<key>scr_pos</key>
				<array>
					<integer>0</integer>
					<integer>380</integer>
				</array>
				<key>beam_pos_rng</key>
				<array>
					<integer>210</integer>
					<integer>350</integer>
					<integer>2800</integer>
				</array>
			</dict>
			<key>Stand_positions</key>
			<array>
				<array>
					<integer>210</integer>
					<integer>170</integer>
				</array>
				<array>
					<integer>240</integer>
					<integer>170</integer>
				</array>
				<array>
					<integer>270</integer>
					<integer>170</integer>
				</array>
				<array>
					<integer>300</integer>
					<integer>170</integer>
				</array>
				<array>
					<integer>330</integer>
					<integer>170</integer>
				</array>
				<array>
					<integer>360</integer>
					<integer>170</integer>
				</array>
				<array>
					<integer>390</integer>
					<integer>170</integer>
				</array>
				<array>
					<integer>420</integer>
					<integer>170</integer>
				</array>
			</array>
		</dict>
	</dict>
</dict>
</plist>
