<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocks</key>
	<dict>
		<key>slider1</key>
		<dict>
			<key>png_get</key>
			<array>
				<real>474</real>
				<integer>561</integer>
				<integer>152</integer>
				<integer>113</integer>
			</array>
		</dict>
		<key>slider</key>
		<dict>
			<key>png_get</key>
			<array>
				<integer>470</integer>
				<integer>689</integer>
				<integer>98</integer>
				<integer>98</integer>
			</array>
		</dict>
		<key>border</key>
		<dict>
			<key>png_get</key>
			<array>
				<integer>400</integer>
				<integer>702</integer>
				<integer>64</integer>
				<integer>64</integer>
			</array>
		</dict>
		<key>left_right_up_down</key>
		<dict>
			<key>png_get</key>
			<array>
				<integer>402</integer>
				<integer>201</integer>
				<integer>64</integer>
				<integer>64</integer>
			</array>
		</dict>
		<key>down</key>
		<dict>
			<key>png_get</key>
			<array>
				<integer>401</integer>
				<integer>272</integer>
				<integer>64</integer>
				<integer>64</integer>
			</array>
		</dict>
		<key>up</key>
		<dict>
			<key>png_get</key>
			<array>
				<integer>401</integer>
				<integer>344</integer>
				<integer>64</integer>
				<integer>64</integer>
			</array>
		</dict>
		<key>left</key>
		<dict>
			<key>png_get</key>
			<array>
				<integer>402</integer>
				<integer>417</integer>
				<integer>64</integer>
				<integer>64</integer>
			</array>
		</dict>
		<key>right</key>
		<dict>
			<key>png_get</key>
			<array>
				<integer>401</integer>
				<integer>489</integer>
				<integer>64</integer>
				<integer>64</integer>
			</array>
		</dict>
		<key>up_down</key>
		<dict>
			<key>png_get</key>
			<array>
				<integer>401</integer>
				<integer>561</integer>
				<integer>64</integer>
				<integer>64</integer>
			</array>
		</dict>
		<key>left_right</key>
		<dict>
			<key>png_get</key>
			<array>
				<integer>400</integer>
				<integer>633</integer>
				<integer>64</integer>
				<integer>64</integer>
			</array>
		</dict>
		<key>static</key>
		<dict>
			<key>png_get</key>
			<array>
				<integer>400</integer>
				<integer>130</integer>
				<integer>64</integer>
				<integer>64</integer>
			</array>
		</dict>
	</dict>
	<key>dog</key>
	<dict>
		<key>meat</key>
		<dict>
			<key>png_get</key>
			<array>
				<integer>400</integer>
				<integer>66</integer>
				<integer>64</integer>
				<integer>64</integer>
			</array>
		</dict>
		<key>forward</key>
		<dict>
			<key>1</key>
			<dict>
				<key>png_get</key>
				<array>
					<integer>196</integer>
					<integer>0</integer>
					<integer>98</integer>
					<integer>98</integer>
				</array>
			</dict>
			<key>2</key>
			<dict>
				<key>png_get</key>
				<array>
					<integer>196</integer>
					<integer>98</integer>
					<integer>98</integer>
					<integer>98</integer>
				</array>
			</dict>
			<key>3</key>
			<dict>
				<key>png_get</key>
				<array>
					<integer>196</integer>
					<integer>196</integer>
					<integer>98</integer>
					<integer>98</integer>
				</array>
			</dict>
			<key>4</key>
			<dict>
				<key>png_get</key>
				<array>
					<integer>196</integer>
					<integer>294</integer>
					<integer>98</integer>
					<integer>98</integer>
				</array>
			</dict>
			<key>5</key>
			<dict>
				<key>png_get</key>
				<array>
					<integer>196</integer>
					<integer>392</integer>
					<integer>98</integer>
					<integer>98</integer>
				</array>
			</dict>
			<key>6</key>
			<dict>
				<key>png_get</key>
				<array>
					<integer>196</integer>
					<integer>490</integer>
					<integer>98</integer>
					<integer>98</integer>
				</array>
			</dict>
			<key>7</key>
			<dict>
				<key>png_get</key>
				<array>
					<integer>196</integer>
					<integer>588</integer>
					<integer>98</integer>
					<integer>98</integer>
				</array>
			</dict>
			<key>8</key>
			<dict>
				<key>png_get</key>
				<array>
					<integer>196</integer>
					<integer>686</integer>
					<integer>98</integer>
					<integer>98</integer>
				</array>
			</dict>
		</dict>
		<key>back</key>
		<dict>
			<key>1</key>
			<dict>
				<key>png_get</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<integer>98</integer>
					<integer>98</integer>
				</array>
			</dict>
			<key>2</key>
			<dict>
				<key>png_get</key>
				<array>
					<integer>0</integer>
					<integer>98</integer>
					<integer>98</integer>
					<integer>98</integer>
				</array>
			</dict>
			<key>3</key>
			<dict>
				<key>png_get</key>
				<array>
					<integer>0</integer>
					<integer>196</integer>
					<integer>98</integer>
					<integer>98</integer>
				</array>
			</dict>
			<key>4</key>
			<dict>
				<key>png_get</key>
				<array>
					<integer>0</integer>
					<integer>294</integer>
					<integer>98</integer>
					<integer>98</integer>
				</array>
			</dict>
			<key>5</key>
			<dict>
				<key>png_get</key>
				<array>
					<integer>0</integer>
					<integer>392</integer>
					<integer>98</integer>
					<integer>98</integer>
				</array>
			</dict>
			<key>6</key>
			<dict>
				<key>png_get</key>
				<array>
					<integer>0</integer>
					<integer>490</integer>
					<integer>98</integer>
					<integer>98</integer>
				</array>
			</dict>
			<key>7</key>
			<dict>
				<key>png_get</key>
				<array>
					<integer>0</integer>
					<integer>588</integer>
					<integer>98</integer>
					<integer>98</integer>
				</array>
			</dict>
			<key>8</key>
			<dict>
				<key>png_get</key>
				<array>
					<integer>0</integer>
					<integer>686</integer>
					<integer>98</integer>
					<integer>98</integer>
				</array>
			</dict>
		</dict>
		<key>right</key>
		<dict>
			<key>1</key>
			<dict>
				<key>png_get</key>
				<array>
					<integer>98</integer>
					<integer>0</integer>
					<integer>98</integer>
					<integer>98</integer>
				</array>
			</dict>
			<key>2</key>
			<dict>
				<key>png_get</key>
				<array>
					<integer>98</integer>
					<integer>98</integer>
					<integer>98</integer>
					<integer>98</integer>
				</array>
			</dict>
			<key>3</key>
			<dict>
				<key>png_get</key>
				<array>
					<integer>98</integer>
					<integer>196</integer>
					<integer>98</integer>
					<integer>98</integer>
				</array>
			</dict>
			<key>4</key>
			<dict>
				<key>png_get</key>
				<array>
					<integer>98</integer>
					<integer>294</integer>
					<integer>98</integer>
					<integer>98</integer>
				</array>
			</dict>
			<key>5</key>
			<dict>
				<key>png_get</key>
				<array>
					<integer>98</integer>
					<integer>392</integer>
					<integer>98</integer>
					<integer>98</integer>
				</array>
			</dict>
			<key>6</key>
			<dict>
				<key>png_get</key>
				<array>
					<integer>98</integer>
					<integer>490</integer>
					<integer>98</integer>
					<integer>98</integer>
				</array>
			</dict>
			<key>7</key>
			<dict>
				<key>png_get</key>
				<array>
					<integer>98</integer>
					<integer>588</integer>
					<integer>98</integer>
					<integer>98</integer>
				</array>
			</dict>
			<key>8</key>
			<dict>
				<key>png_get</key>
				<array>
					<integer>98</integer>
					<integer>686</integer>
					<integer>98</integer>
					<integer>98</integer>
				</array>
			</dict>
		</dict>
		<key>left</key>
		<dict>
			<key>1</key>
			<dict>
				<key>png_get</key>
				<array>
					<integer>294</integer>
					<integer>0</integer>
					<integer>98</integer>
					<integer>98</integer>
				</array>
			</dict>
			<key>2</key>
			<dict>
				<key>png_get</key>
				<array>
					<integer>294</integer>
					<integer>98</integer>
					<integer>98</integer>
					<integer>98</integer>
				</array>
			</dict>
			<key>3</key>
			<dict>
				<key>png_get</key>
				<array>
					<integer>294</integer>
					<integer>196</integer>
					<integer>98</integer>
					<integer>98</integer>
				</array>
			</dict>
			<key>4</key>
			<dict>
				<key>png_get</key>
				<array>
					<integer>294</integer>
					<integer>294</integer>
					<integer>98</integer>
					<integer>98</integer>
				</array>
			</dict>
			<key>5</key>
			<dict>
				<key>png_get</key>
				<array>
					<integer>294</integer>
					<integer>392</integer>
					<integer>98</integer>
					<integer>98</integer>
				</array>
			</dict>
			<key>6</key>
			<dict>
				<key>png_get</key>
				<array>
					<integer>294</integer>
					<integer>490</integer>
					<integer>98</integer>
					<integer>98</integer>
				</array>
			</dict>
			<key>7</key>
			<dict>
				<key>png_get</key>
				<array>
					<integer>294</integer>
					<integer>588</integer>
					<integer>98</integer>
					<integer>98</integer>
				</array>
			</dict>
			<key>8</key>
			<dict>
				<key>png_get</key>
				<array>
					<integer>294</integer>
					<integer>686</integer>
					<integer>98</integer>
					<integer>98</integer>
				</array>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
