<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ui_direct_control</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>70</integer>
			<integer>70</integer>
			<integer>14</integer>
			<integer>44</integer>
		</array>
		<key>scr_line_points</key>
		<array>
			<integer>50</integer>
			<integer>30</integer>
			<integer>210</integer>
			<integer>30</integer>
		</array>
		<key>sld_param_points</key>
		<array>
			<integer>-100</integer>
			<integer>100</integer>
			<real>0</real>
		</array>
		<key>tap_area</key>
		<array>
			<integer>70</integer>
			<integer>60</integer>
		</array>
	</dict>
	<key>ui_speed_control</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>70</integer>
			<integer>138</integer>
			<integer>30</integer>
			<integer>18</integer>
		</array>
		<key>scr_line_points</key>
		<array>
			<integer>290</integer>
			<integer>17</integer>
			<integer>290</integer>
			<integer>156</integer>
		</array>
		<key>sld_param_points</key>
		<array>
			<real>0</real>
			<real>100</real>
			<real>0</real>
		</array>
		<key>tap_area</key>
		<array>
			<integer>50</integer>
			<integer>60</integer>
		</array>
	</dict>
	<key>pan_hor</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>260</integer>
			<integer>60</integer>
		</array>
		<key>scr_pos</key>
		<array>
			<integer>0</integer>
			<integer>60</integer>
		</array>
		<key>scr_cover</key>
		<array>
			<integer>260</integer>
			<integer>60</integer>
		</array>
	</dict>
	<key>pan_vert</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>0</integer>
			<integer>66</integer>
			<integer>60</integer>
			<integer>180</integer>
		</array>
		<key>scr_pos</key>
		<array>
			<integer>260</integer>
			<integer>180</integer>
		</array>
		<key>scr_cover</key>
		<array>
			<integer>60</integer>
			<integer>180</integer>
		</array>
	</dict>
</dict>
</plist>
