<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>real</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>226</integer>
			<integer>64</integer>
		</array>
		<key>scr_pos</key>
		<array>
			<integer>47</integer>
			<integer>400</integer>
		</array>
		<key>scr_cover</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</dict>
	<key>debug</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>0</integer>
			<integer>64</integer>
			<integer>226</integer>
			<integer>64</integer>
		</array>
		<key>scr_pos</key>
		<array>
			<integer>47</integer>
			<integer>400</integer>
		</array>
		<key>scr_cover</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</dict>
	<key>finger</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>0</integer>
			<integer>128</integer>
			<integer>226</integer>
			<integer>64</integer>
		</array>
		<key>scr_pos</key>
		<array>
			<integer>47</integer>
			<integer>330</integer>
		</array>
		<key>scr_cover</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</dict>
	<key>finger_and_ball</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>0</integer>
			<integer>192</integer>
			<integer>226</integer>
			<integer>64</integer>
		</array>
		<key>scr_pos</key>
		<array>
			<integer>47</integer>
			<integer>330</integer>
		</array>
		<key>scr_cover</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</dict>
	<key>ball_and_trek</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>0</integer>
			<integer>256</integer>
			<integer>226</integer>
			<integer>64</integer>
		</array>
		<key>scr_pos</key>
		<array>
			<integer>47</integer>
			<integer>330</integer>
		</array>
		<key>scr_cover</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</dict>
	<key>giroskop</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>0</integer>
			<integer>320</integer>
			<integer>226</integer>
			<integer>64</integer>
		</array>
		<key>scr_pos</key>
		<array>
			<integer>47</integer>
			<integer>330</integer>
		</array>
		<key>scr_cover</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</dict>
</dict>
</plist>
