<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frame1</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>43</integer>
			<integer>43</integer>
		</array>
		<key>scr_pos</key>
		<array>
			<integer>100</integer>
			<integer>150</integer>
		</array>
	</dict>
	<key>frame2</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>46</integer>
			<integer>1</integer>
			<integer>43</integer>
			<integer>43</integer>
		</array>
		<key>scr_pos</key>
		<array>
			<integer>100</integer>
			<integer>150</integer>
		</array>
	</dict>
	<key>frame3</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>91</integer>
			<integer>1</integer>
			<integer>43</integer>
			<integer>43</integer>
		</array>
		<key>scr_pos</key>
		<array>
			<integer>100</integer>
			<integer>150</integer>
		</array>
	</dict>
	<key>frame4</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>136</integer>
			<integer>1</integer>
			<integer>43</integer>
			<integer>43</integer>
		</array>
		<key>scr_pos</key>
		<array>
			<integer>100</integer>
			<integer>150</integer>
		</array>
	</dict>
	<key>frame5</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>181</integer>
			<integer>1</integer>
			<integer>43</integer>
			<integer>43</integer>
		</array>
		<key>scr_pos</key>
		<array>
			<integer>100</integer>
			<integer>150</integer>
		</array>
	</dict>
	<key>frame6</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>226</integer>
			<integer>1</integer>
			<integer>43</integer>
			<integer>43</integer>
		</array>
		<key>scr_pos</key>
		<array>
			<integer>100</integer>
			<integer>150</integer>
		</array>
	</dict>
	<key>frame7</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>271</integer>
			<integer>1</integer>
			<integer>43</integer>
			<integer>43</integer>
		</array>
		<key>scr_pos</key>
		<array>
			<integer>100</integer>
			<integer>150</integer>
		</array>
	</dict>
</dict>
</plist>
