<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>button_str</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>2</integer>
			<integer>2</integer>
			<integer>226</integer>
			<integer>66</integer>
		</array>
		<key>scr_pos</key>
		<array>
			<integer>47</integer>
			<integer>79</integer>
		</array>
		<key>scr_cover</key>
		<array>
			<integer>226</integer>
			<integer>66</integer>
		</array>
	</dict>
	<key>point_start</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>2</integer>
			<integer>70</integer>
			<integer>30</integer>
			<integer>30</integer>
		</array>
		<key>scr_pos</key>
		<array>
			<integer>17</integer>
			<integer>47</integer>
		</array>
		<key>scr_cover</key>
		<array>
			<integer>30</integer>
			<integer>30</integer>
		</array>
	</dict>
	<key>obst</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>34</integer>
			<integer>70</integer>
			<integer>30</integer>
			<integer>30</integer>
		</array>
		<key>scr_pos</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>scr_cover</key>
		<array>
			<integer>30</integer>
			<integer>30</integer>
		</array>
	</dict>
	<key>point_end_01</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>76</integer>
			<integer>70</integer>
			<integer>24</integer>
			<integer>24</integer>
		</array>
		<key>scr_pos</key>
		<array>
			<integer>155</integer>
			<integer>130</integer>
		</array>
		<key>scr_cover</key>
		<array>
			<integer>24</integer>
			<integer>24</integer>
		</array>
	</dict>
	<key>point_end_02</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>106</integer>
			<integer>70</integer>
			<integer>24</integer>
			<integer>24</integer>
		</array>
		<key>scr_pos</key>
		<array>
			<integer>155</integer>
			<integer>130</integer>
		</array>
		<key>scr_cover</key>
		<array>
			<integer>24</integer>
			<integer>24</integer>
		</array>
	</dict>
	<key>curs_base</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>136</integer>
			<integer>70</integer>
			<integer>16</integer>
			<integer>16</integer>
		</array>
		<key>scr_pos</key>
		<array>
			<integer>152</integer>
			<integer>348</integer>
		</array>
		<key>scr_cover</key>
		<array>
			<integer>16</integer>
			<integer>16</integer>
		</array>
	</dict>
	<key>curs_pointer</key>
	<dict>
		<key>png_get</key>
		<array>
			<integer>154</integer>
			<integer>70</integer>
			<integer>2</integer>
			<integer>5</integer>
		</array>
		<key>scr_pos</key>
		<array>
			<integer>-1</integer>
			<integer>8</integer>
		</array>
		<key>scr_cover</key>
		<array>
			<integer>2</integer>
			<integer>5</integer>
		</array>
	</dict>
</dict>
</plist>
